apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: ""
    openshift.io/display-name: ""
    openshift.io/requester: knative-serving
  labels:
    kubernetes.io/metadata.name: knative-serving
  name: knative-serving
spec:
  finalizers:
  - kubernetes
---
apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: ""
    openshift.io/display-name: ""
    openshift.io/requester: knative-eventing
  labels:
    kubernetes.io/metadata.name: knative-eventing
  name: knative-eventing
spec:
  finalizers:
  - kubernetes
---
kind: KnativeServing
apiVersion: operator.knative.dev/v1alpha1
metadata:
  name: knative-serving
  namespace: knative-serving
spec: {}
---
apiVersion: operator.knative.dev/v1alpha1
kind: KnativeEventing
metadata:
  name: knative-eventing
  namespace: knative-eventing
spec:
  config:
    default-ch-webhook:
      default-ch-config: |-
        clusterDefault:
          apiVersion: messaging.knative.dev/v1beta1
          kind: KafkaChannel
          spec:
            numPartitions: 1
            replicationFactor: 1
---
kind: KnativeKafka
apiVersion: operator.serverless.openshift.io/v1alpha1
metadata:
  name: knative-kafka
  namespace: knative-eventing
spec:
  broker:
    enabled: true
    defaultConfig:
      numPartitions: 10
      replicationFactor: 3
      bootstrapServers: my-cluster-kafka-bootstrap.kafka:9092
  source:
    enabled: true
  sink:
    enabled: true
  channel:
    enabled: true
    bootstrapServers: my-cluster-kafka-bootstrap.kafka:9092