---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: knative-eventing-view
  namespace: knative-eventing
rules:
  - verbs:
      - list
      - get
    apiGroups:
      - ''
      - kafka.strimzi.io
      - operator.knative.dev
    resources:
      - pods
      - knativeeventings
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: knative-serving-view
  namespace: knative-serving
rules:
  - verbs:
      - list
      - get
    apiGroups:
      - ''
      - kafka.strimzi.io
      - operator.knative.dev
    resources:
      - pods
      - knativeservings
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: kafka-view
  namespace: kafka
rules:
  - verbs:
      - list
    apiGroups:
      - kafka.strimzi.io
    resources:
      - kafkas
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: routes-view
rules:
  - verbs:
      - list
      - get
    apiGroups:
      - route.openshift.io
    resources:
      - routes
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: kafka-topic-create
  namespace: kafka
rules:
  - verbs:
      - list
      - create 
    apiGroups:
      - kafka.strimzi.io
    resources:
      - kafkatopics     
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: operator-view
rules:
  - verbs:
      - list
    apiGroups:
      - operators.coreos.com
    resources:
      - operators
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: eventing-kafka-source-creator
  labels:
    duck.knative.dev/source: 'true'
    kafka.eventing.knative.dev/release: v1.4
  annotations:
    knativekafkas.operator.serverless.openshift.io/ownerName: knative-kafka
    knativekafkas.operator.serverless.openshift.io/ownerNamespace: knative-eventing
rules:
  - verbs:
      - get
      - list
      - watch
      - create
    apiGroups:
      - sources.knative.dev
    resources:
      - kafkasources      
---      
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: kafka-cluster-view
  namespace: kafka
rules:
  - verbs:
      - list
    apiGroups:
      - kafka.strimzi.io
    resources:
      - kafkas
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: kafka-topic-create-cluster
  namespace: kafka
rules:
  - verbs:
      - list
      - create 
    apiGroups:
      - kafka.strimzi.io
    resources:
      - kafkatopics           